.budda-parallax
  - var layers = [["sky", 0], ["mountains", 5], ["budda", 7], ["cloud-1", 0], ["cloud-2", 0], ["cloud-3", 0]];
    each layer, index in layers
      .budda-parallax__layer(class=`budda-parallax__layer_${layer[0]}` data-speed=layer[1])
        img.budda-parallax__image(src=require(`images/parallax_budda/budda_${index + 1}.${index === 0 ? 'jpg' : 'png'}`))
        