section.feedback
  include budda-parallax
  .feedback__reviews#reviews
    include reviews
  .feedback__form
    #form-container
    script(type="text/x-template")#feedback-form
      .feedback-form 
        .form
          .feedback-form__title Связаться со мной
          form.form__elem(@submit.prevent="onFormSumbit")
            .feedback-form__row
              .feedback-form__name
                basic-input(
                  v-model="name"
                  :required="false"
                  :error-message="errors.name"
                  label="Введите ваше имя"
                  type="text"
                  name="name"
                  icon="user"
                  theme="dark"
                )
              .feedback-form__mail
                basic-input(
                  v-model="email"
                  :required="false"
                  :error-message="errors.email"
                  label="Введите ваш email"
                  type="email"
                  name="mail"
                  icon="envelope"
                  theme="dark"
                )
            .feedback-form__row
              basic-textarea(
                v-model="message"
                :required="false"
                :error-message="errors.message"
                label="Сообщение к письму"
                name="message"
                icon="message"
                theme="dark"
              )
            .feedback-form__button
              basic-button(type='submit') Отправить
            alert-modal(
              v-if="isShowAlert"
              @close="hideModal"
            ) Письмо отправлено